.glassmorphism-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background: var(--color-secondary);
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(33.333% - 60px);
    min-width: 250px;
    background: var(--color-transparent-white);
    border-radius: 15px;
    box-shadow: 0 8px 32px var(--color-shadow-light);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--color-border);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.card-content {
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 2;
    color: var(--color-text);
}

.card h3 {
    margin-top: 0;
    color: var(--color-accent);
}

.card p {
    color: var(--color-text);
}

.decorative-squares {
    position: absolute;
    width: 120px;
    height: 50px;
    background: linear-gradient(45deg, var(--color-accent), var(--color-primary));
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.card:hover .decorative-squares {
    opacity: 0.3;
}

.decorative-squares.top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    animation: moveLeftRightTop 3s infinite alternate;
}

.decorative-squares.bottom {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    animation: moveLeftRightBottom 3s infinite alternate;
}

@keyframes moveLeftRightTop {
    0% { transform: translateX(-60%) translateY(-20px); }
    100% { transform: translateX(-40%) translateY(-20px); }
}

@keyframes moveLeftRightBottom {
    0% { transform: translateX(-40%) translateY(20px); }
    100% { transform: translateX(-60%) translateY(20px); }
}

.glassmorphism-cards:hover .card {
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.glassmorphism-cards .card:hover {
    filter: none;
    transform: scale(1.05);
    box-shadow: 0 16px 32px var(--color-shadow-medium);
    z-index: 1;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px var(--color-shadow-medium);
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.social-button {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-button i {
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.social-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transition: height 0.3s ease, background 0.3s ease;
    z-index: 1; /* Размещаем псевдоэлемент под иконкой */
}

.social-button:hover::before {
    height: 100%;
    background: linear-gradient(to bottom, var(--color-accent), var(--color-primary));
}

.social-button:hover {
    cursor: pointer;
}

.social-button.youtube {
    background-color: #FF0000;
}

.social-button.youtube:hover::before {
    background: linear-gradient(to bottom, #FF4C4C, #FF0000);
}

.social-button.telegram {
    background-color: #0088cc;
}

.social-button.telegram:hover::before {
    background: linear-gradient(to bottom, #00aaff, #0088cc);
}

.social-button.vk {
    background-color: #4c75a3;
}

.social-button.vk:hover::before {
    background: linear-gradient(to bottom, #6c89b3, #4c75a3);
}

.social-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}