.glassmorphism-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background: var(--color-secondary);
}

.card {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px var(--color-shadow-light);
    overflow: visible;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    top: -40%;
    left: 25%;
    width: 50%;
    height: 180%;
    background: linear-gradient(30deg, var(--color-accent), var(--color-primary));
    opacity: 0.3;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: rotate(30deg);
    box-shadow: 0 0 20px var(--color-accent);
    z-index: -1;
}

.card:hover::before {
    transform: rotate(0deg);
    box-shadow: 0 0 20px var(--color-primary);
}

.card-content {
    position: relative;
    z-index: 2;
    color: var(--color-text-light);
    padding: 20px;
    text-align: center;
}

.decorative-squares {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(30deg, var(--color-accent), var(--color-primary));
    opacity: 0;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .decorative-squares {
    opacity: 0.3;
}

.decorative-squares.top {
    top: 10px;
    left: 0%;
    animation: moveLeftRightTop 3s infinite;
}

.decorative-squares.bottom {
    bottom: 10px;
    right: 0%;
    animation: moveLeftRightBottom 3s infinite;
}

@keyframes moveLeftRightTop {
    0% { transform: translateX(-50%) translateY(-20px); }
    50% { transform: translateX(-60%) translateY(-20px); }
    100% { transform: translateX(-50%) translateY(-20px); }
}

@keyframes moveLeftRightBottom {
    0% { transform: translateX(50%) translateY(20px); }
    50% { transform: translateX(40%) translateY(20px); }
    100% { transform: translateX(50%) translateY(20px); }
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px var(--color-shadow-medium);
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.social-button {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-button i {
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.social-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transition: height 0.3s ease, background 0.3s ease;
    z-index: 1; /* Размещаем псевдоэлемент под иконкой */
}

.social-button:hover::before {
    height: 100%;
    background: linear-gradient(to bottom, var(--color-accent), var(--color-primary));
}

.social-button:hover {
    cursor: pointer;
}

.social-button.youtube {
    background-color: #FF0000;
}

.social-button.youtube:hover::before {
    background: linear-gradient(to bottom, #FF4C4C, #FF0000);
}

.social-button.telegram {
    background-color: #0088cc;
}

.social-button.telegram:hover::before {
    background: linear-gradient(to bottom, #00aaff, #0088cc);
}

.social-button.vk {
    background-color: #4c75a3;
}

.social-button.vk:hover::before {
    background: linear-gradient(to bottom, #6c89b3, #4c75a3);
}

.social-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}